
#board {
  position: relative;
  aspect-ratio: 1;
  background: red;
  position: relativ;
}

i {
  display: block;
  box-sizing: border-box;
}

.tile {
  position: absolute;
  background-image: url("/tile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  --w: sqrt(3) * 0.5;
  --h: 1;
  width: calc(var(--w) * 100% * 0.23 );
  height: calc(var(--h) * 100% * 0.23);
  --x: 0;
  --y: 0;
  top:50%;
  left:50%;
  transform: translate(calc(-50% + var(--x) * 100%), calc(-50% + var(--y) * 100%));
}
